.comment {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;

  &Header {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;

    &Img {
      margin-right: 10px;
      width: 25px;
      height: 25px;
      border: 1px solid black;
    }

    &Nickname {
      font-size: 20px;

      &:hover {
        color: blue;
      }
    }
  }

  &Row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &BlockText {
    padding: 5px 0;
  }

  &Btns {
    display: flex;
    flex-direction: row;
  }

  &Btn {
    margin-left: 5px;
    padding: 2px 5px;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
  }
}
